<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyRestaurant</title>
    <base href="~/" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">

     <!-- <script src="~/lib/signalr/signalr.js"></script> -->
        
        <!-- <script src="~/lib/signalr/client.js"></script> -->



 
</head>
<body>
  
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>  



 

    






</html>